Repository tanykos/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --fix

.lintstagedrc:

{
  "*.{ts,tsx,css,scss,html,js,json}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --quiet --fix"]
}

feat: add nextjs app router with basic layout
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/app/test-route/page.tsx
  src/components/footer/footer.tsx
  src/components/header/header.tsx
  src/components/main/main.tsx
Due: prettier --write, eslint --quiet --fix

refactor: delete commented line
  src/app/test-route/page.tsx
Due: prettier --write, eslint --quiet --fix

refactor: remove unnecessaary react fragment
  src/app/layout.tsx
Due: prettier --write, eslint --quiet --fix

feat: add nextjs app router (#5)
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/app/test-route/page.tsx
  src/components/footer/footer.tsx
  src/components/header/header.tsx
  src/components/main/main.tsx
Due: prettier --write, eslint --quiet --fix

chore: add scss
  package-lock.json
  package.json
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.module.scss
  src/app/page.tsx
Due: prettier --write, eslint --quiet --fix

docs: add PR template
  .github/pull_request_template.md
Due: none

docs: update PR template
  .github/pull_request_template.md
Due: none

chore: install MUI
  package-lock.json
  package.json
Due: prettier --write

Docs/pr template (#10)
  .github/pull_request_template.md
Due: none

test: test
  src/components/header/header.tsx
Due: prettier --write, eslint --quiet --fix

chore: add scss (#12)
  package-lock.json
  package.json
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.module.scss
  src/app/page.tsx
Due: prettier --write, eslint --quiet --fix

chore: add MUI
  package-lock.json
  package.json
Due: prettier --write

chore: add MUI (#13)
  package-lock.json
  package.json
Due: prettier --write

feat: add header layout
  public/globe-sprite.svg
  public/sign-out-sprite.svg
  src/app/globals.scss
  src/components/header/header.module.scss
  src/components/header/header.tsx
  src/components/svg-image/svg-image.tsx
  src/const.tsx
Due: prettier --write, eslint --quiet --fix

feat: add header layout (#14)
  public/globe-sprite.svg
  public/sign-out-sprite.svg
  src/app/globals.scss
  src/components/header/header.module.scss
  src/components/header/header.tsx
  src/components/svg-image/svg-image.tsx
  src/const.tsx
Due: prettier --write, eslint --quiet --fix

feat: add languages support
  src/app/[lang]/dictionaries.tsx
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/globals.scss
  src/app/[lang]/layout.tsx
  src/app/[lang]/page.module.scss
  src/app/[lang]/page.tsx
  src/app/[lang]/test-route/page.tsx
  src/app/layout.tsx
  src/app/test-route/page.tsx
  src/components/header/header.module.scss
  src/components/header/header.tsx
  src/const.tsx
  src/middleware.tsx
  src/providers/dictionary-provider.tsx
  src/types/index.tsx
  src/utils/is-locale-correct.tsx
Due: prettier --write, eslint --quiet --fix

refactor: rename variable
  src/app/[lang]/dictionaries.tsx
Due: prettier --write, eslint --quiet --fix

feat: add languages support (#18)
  src/app/[lang]/dictionaries.tsx
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/globals.scss
  src/app/[lang]/layout.tsx
  src/app/[lang]/page.module.scss
  src/app/[lang]/page.tsx
  src/app/[lang]/test-route/page.tsx
  src/app/layout.tsx
  src/app/test-route/page.tsx
  src/components/header/header.module.scss
  src/components/header/header.tsx
  src/const.tsx
  src/middleware.tsx
  src/providers/dictionary-provider.tsx
  src/types/index.tsx
  src/utils/is-locale-correct.tsx
Due: prettier --write, eslint --quiet --fix

feat: add Main Page
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/page.tsx
  src/app/[lang]/sign-in/page.tsx
  src/app/[lang]/sign-up/page.tsx
  src/components/RouterLink/RouterLink.tsx
Due: prettier --write, eslint --quiet --fix

feat: add RESTful client page layout
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/globals.scss
  src/app/[lang]/restful/page.tsx
  src/app/[lang]/restful/restful.module.scss
  src/const.tsx
Due: prettier --write, eslint --quiet --fix

fix: set locale from url
  src/components/RouterLink/RouterLink.tsx
Due: prettier --write, eslint --quiet --fix

feat: add Main Page (#20)
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/page.tsx
  src/app/[lang]/sign-in/page.tsx
  src/app/[lang]/sign-up/page.tsx
  src/components/RouterLink/RouterLink.tsx
Due: prettier --write, eslint --quiet --fix

feat: add sign-in, sign-up layout
  package-lock.json
  package.json
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/page.module.scss
  src/app/[lang]/sign-in/page.tsx
  src/app/[lang]/sign-up/page.tsx
  src/components/RouterLink/RouterLink.module.scss
  src/components/RouterLink/RouterLink.tsx
Due: prettier --write, eslint --quiet --fix

chore: add yup and react-hook-form
  package-lock.json
  package.json
Due: prettier --write

refactor: remove dublicates
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/sign-in/page.tsx
Due: prettier --write, eslint --quiet --fix

chore: add yup and react-hook-form (#28)
  package-lock.json
  package.json
Due: prettier --write

refactor: correct dictionaries
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/sign-in/page.tsx
  src/app/[lang]/sign-up/page.tsx
Due: prettier --write, eslint --quiet --fix

feat: change form, migrate to mui
  package-lock.json
  package.json
  src/app/[lang]/restful/page.tsx
  src/app/[lang]/restful/restful.module.scss
  src/components/restful-client/Body-request/Body-request.module.scss
  src/components/restful-client/Body-request/Body-request.tsx
  src/components/restful-client/Headers/Headers.module.scss
  src/components/restful-client/Headers/Headers.tsx
Due: prettier --write, eslint --quiet --fix

chore: resolve conflict
  package-lock.json
  package.json
Due: prettier --write

refactor: refactor code
  src/app/[lang]/restful/page.tsx
  src/components/restful-client/Body-request/Body-request.tsx
Due: prettier --write, eslint --quiet --fix

refactor: remove code dublicates
  src/app/[lang]/sign-in/page.tsx
  src/app/[lang]/sign-up/page.tsx
  src/components/FormContainer/FormContainer.tsx
  src/components/FormLink/FormLink.tsx
  src/components/InputField/InputField.tsx
  src/components/PasswordAction/PasswordAction.tsx
  src/types/index.tsx
  src/utils/form-fields-const.ts
Due: prettier --write, eslint --quiet --fix

fix: fix file import
  src/app/[lang]/restful/page.tsx
Due: prettier --write, eslint --quiet --fix

feat: add RESTful client page layout (#21)
  package-lock.json
  package.json
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/globals.scss
  src/app/[lang]/restful/page.tsx
  src/app/[lang]/restful/restful.module.scss
  src/components/restful-client/Body-request/Body-request.module.scss
  src/components/restful-client/Body-request/Body-request.tsx
  src/components/restful-client/Headers/Headers.module.scss
  src/components/restful-client/Headers/Headers.tsx
  src/const.tsx
Due: prettier --write, eslint --quiet --fix

fix: correct inputs type
  src/components/InputField/InputField.tsx
Due: prettier --write, eslint --quiet --fix

feat: add graphiql form, get 'endpoint' and 'query' inputs, send request
  src/api/get-graphql-data.tsx
  src/app/[lang]/GRAPHQL/[base64endpoint]/[base64body]/page.tsx
  src/app/[lang]/GRAPHQL/[base64endpoint]/page.tsx
  src/app/[lang]/dictionaries/en.json
  src/app/[lang]/dictionaries/ru.json
  src/app/[lang]/globals.scss
  src/app/[lang]/graphiql/page.tsx
  src/components/graphiql-form/graphiql-form.module.css
  src/components/graphiql-form/graphiql-form.tsx
  src/components/graphiql-form/labeled-input/labeled-input.module.css
  src/components/graphiql-form/labeled-input/labeled-input.tsx
  src/types/graphql.tsx
  src/utils/get-decoded-string.tsx
  src/utils/get-encoded-string.tsx
  src/utils/get-locale.tsx
Due: prettier --write, eslint --quiet --fix

chore: add vitest and dictionaries test
  .eslintrc.js
  package-lock.json
  package.json
  src/__tests__/dictionaries.test.tsx
  vitest.config.mjs
Due: prettier --write, eslint --quiet --fix

chore: add pre-push hook
  .husky/pre-push
Due: none

chore: add vitest, pre-push hook and dictionaries test (#32)
  .eslintrc.js
  .husky/pre-push
  package-lock.json
  package.json
  src/__tests__/dictionaries.test.tsx
  vitest.config.mjs
Due: prettier --write, eslint --quiet --fix
